.main-container {
    margin: auto;
    width: 70%;
    background-color: antiquewhite;
}

form {
    background-color: rgb(246, 245, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

form label {
    display: block;
    width: 100px;
}

form input {
    width: 200px;
}

h2 {
    background-color: blue;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.user-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(245, 203, 255);
}

.user-view p {
    margin-right: 10px;
}

.user-list {
    background-color: rgb(207, 250, 189);
    margin: auto;
    padding-top: 10px;
}

.user-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.user-row p {
    font-size: 20px;
    margin-top: 5px;
}

.user-row a {
    text-decoration: none;
    background-color: rgb(156, 206, 249);
    color: red;
    min-width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.user-row a:hover {
    border: 1px solid red;
    color: yellow;
}